<h2>投稿内容の編集はこちら</h2>

<%= render 'form' %>

<%= link_to '詳細画面に戻る', picture_path(@picture.id), class: 'btn btn-success' %>
<%= link_to '投稿を削除する', picture_path(@picture.id), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除しますか？'} %>
