.picture-content {
  padding: 30px;
  background-color: white;
}

.picture_form li {
  list-style: none;
  padding: 15px;
}

.picture_form li label {
  margin-right: 10px;
  width: 100px;
  float: left;
}

.picture_form {
  width: 300px;
  margin: 0 auto;
}

.pictures_index {
  padding: 50px;
}

.each_picture {
  margin-top: 80px;
}
