// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.html {
  min-height: 100%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #ddffff;
}

footer p {
  color: #cccccc;
}

.main_contents {
  padding: 80px;
}

body {
  height: 100%;
}

aside {
  padding-top: 80px;
}

aside h3 {
  font-size: 2rem;
}

.alert {
  margin-top: 50px;
}
