// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.html {
  min-height: 100%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: lightsteelblue;
  height: 40px;
  border: solid 1px skyblue;
}

footer p {
  color: floralwhite;
  padding: 10px;
}

.navbar-default {
  background-color: lightsteelblue;
  border-color: skyblue;
}

.navbar-default .navbar-brand {
  color: floralwhite;
}

.navbar-default .navbar-nav>li>a {
  color: floralwhite;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: lightsteelblue;
}

.row {
  height: 100%;
}

.main-container {
  height: 100%;
}

.main_contents {
  padding: 80px 0;
  border-right: solid thin lightgray;
  text-align: center;
  background-color: whitesmoke;
  height: 100%;
}

body {
  height: 970px;
}

.alert {
  margin-bottom: 0;
}

aside {
  padding-top: 80px;
}

aside h3 {
  font-size: 2rem;
}

.alert {
  margin-top: 50px;
}
