// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.html {
  position: relative;
  min-height: 100%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #ddffff;
}

footer p {
  color: #cccccc;
}

.main_contents {
  position: absolute;
  padding: 80px;
}

body {
  height: 100%;
}
